
# Ignore renv folder
renv/

# Ignore R history and workspace
.Rhistory
.RData
.Ruserdata

# Ignore output folders
outputs/figures/
outputs/tables/

# Ignore data folders (if raw data is not versioned)
data/raw/
data/processed/